@import url('https://fonts.googleapis.com/css?family=Inconsolata')

{
    -moz-transition: all .2s ease;
    -o-transition: all .2s ease;
    -webkit-transition: all .2s ease;
}

.stop-watch{
    font-size:60px;
    color:#ddd;
    width:100%;
    text-align:center;
    
    font-family: 'Inconsolata', monospace;
}

.milisecond-part{
    font-size:20px;
}