@import url('https://fonts.googleapis.com/css?family=Inconsolata');


.stop-watch{
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    -webkit-transition: all 1s ease;

    font-size:60px;
    color:#ddd;
    text-align:right;
    
    font-family: 'Inconsolata', monospace;
}

.milisecond-part{
    font-size:20px;
}