@import url('https://fonts.googleapis.com/css?family=Julius+Sans+One');

body{
    margin:0;
    padding:0;
    background-color: #222222;
    font-family: 'Julius Sans One', sans-serif;
}

h1 { 
    color: #ffffff;
    font-size: 30px; 
    font-weight: 5; 
    margin:0;
}

.headersection{
    width:100%;
    background-color: #222222;
    height: 60px;
    line-height: 60px;
    text-align: center;

    border-bottom-width:1px;
    border-bottom-color:#fe921f;
    border-bottom-style: solid;
}

.footer {
    background-color: #111111;
    position: absolute;
    color:#888888;
    left: 0;
    bottom: 0;
    height: 20px;
    width: 100%;
    overflow: hidden;
    text-align: center;
    font-size: 10px; 
    line-height: 20px;
}


p { color: #adb7bd; font-family: 'Lucida Sans', Arial, sans-serif; font-size: 16px; line-height: 26px; text-indent: 30px; margin: 0; }

a { color: #fe921f; text-decoration: underline; }

a:hover { color: #ffffff }

.date { background: #fe921f; color: #ffffff; display: inline-block; font-family: 'Lato', sans-serif; font-size: 12px; font-weight: bold; line-height: 12px; letter-spacing: 1px; margin: 0 0 30px; padding: 10px 15px 8px; text-transform: uppercase; }

